@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins";
}

/* sheard style */

.dark-1 {
    color: #3a3a3a;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 70px;
    border: none;
    gap: 20px;
    justify-content: center;

}

.banner-profile {
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-left: 30px;

}

.text-dark-3 {
    color: rgba(120, 120, 133, 1)
}

.font-size-1 {
    font-size: 0.875rem;
}

.text-dar-2 {
    color: rgba(0, 0, 0, 0.87);
}

.font-size-2 {
    font-size: 1.5rem;
}


/* nav section */
.navbar-container {
    justify-content: space-between;
    padding: 80px 0 0 0;

}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar-container,
.banner {
    max-width: 1340px;
    margin: 0 auto;
}

/* banner section */

.banner {
    justify-content: space-between;
    align-items: center;

}

.banner-title {
    font-size: 3.25rem;
    font-weight: bold;
    color: #3a3a3a;
}

.banner-content {
    width: 582px;

}

.banner-profile {
    width: 475px;
    height: 475px;

}



/* sponsor style */

.our-sponsors {
    max-width: 1340px;
    margin: 0 auto;
    padding: 100px 0;


}

.sponsor-companies {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    /* top and bottom only */
    border-style: solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(141, 135, 135, 0.528), rgba(0, 0, 0, 0)) 1;
    border-image-slice: 1;

}


/* popullar collection style */


.collection-section {
    max-width: 1100px;
    margin: 10px auto;

}

.collection-title {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    
}

.collection {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px 5px 15px 20px rgba(0, 0, 0, 0.1);
    
}
.collection img {
    width: 100%;
}

.collection-see-more {
    color: #E02C6D;
    gap: 10px;
    display: flex;
    font-size: 1.25rem;
    margin: 30px;
    justify-content: end;
}

.feedback-icon {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}


/* gajets section styles */

.gajets-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
    max-width: 1240px;
    margin: 100px auto;
}

.see-more-gajets  {
    justify-content: end;
    text-decoration: none;
    color: #E02C6D;
    gap: 10px;
}
